{% extends "base/base.html" %}
{% load static %}



{% block styles %}
<link rel="stylesheet" href="{% static 'reviews/newreview.css' %}" />
{% endblock %}

{% block content %}
<div class="mb-1 container-fluid d-flex justify-content-center">
  <p class="h4 test">Write a review</p>
</div>

<div class="browse container-fluid d-flex flex-column align-items-center">
  <div class="row">

    <div class="card col">
      <form class="card-body text-center" action="{% url 'new_review' %}" method="POST">
        {% csrf_token %}
        <div class="p-0 mb-3 container-fluid d-flex align-items-start">
          <h5 class="card-title">Course Details</h5>
        </div>

        <div class="form-row top-dropdowns mb-0 ">
          <div class="form-group mr-5 input-group-sm col ">
            <div class="p-0 container-fluid flex-row d-flex align-items-start justify-content-flexend">
              <label class="text-secondary" for="department">Department</label>
            </div>
            <div class="rev-dropdown-menu">
              <!--<select>
                <option></option>
                <option value="2">Accounting (ACCT)</option>
                <option value="1">African-American and African Studies (AAS)</option>
                <option value="3">Air Science (AIRS)</option>
                <option value="16">American Sign Language (ASL)</option>
                <option value="6">American Studies (AMST)</option>
                <option value="7">Anthropology (ANTH)</option>
                <option value="8">Applied Mathematics (APMA)</option>
                <option value="5">Applied Mechanics (AM)</option>
                <option value="9">Arabic (ARAB)</option>
                <option value="200">Arabic in Translation (ARTR)</option>
                <option value="218">Archaeology (ARCY)</option>
                <option value="13">Architectural History (ARH)</option>
                <option value="12">Architecture (ARCH)</option>
                <option value="4">Architecture and Landscape Architecture (ALAR)</option>
                <option value="184">Architecture School (SARC)</option>
                <option value="10">Arts Administration (ARAD)</option>
                <option value="17">Astronomy (ASTR)</option>
                <option value="18">Bengali (BENG)</option>
                <option value="220">Bengali in Translation (BETR)</option>
                <option value="20">Biochemistry (BIOC)</option>
                <option value="21">Bioethics (BIOE)</option>
                <option value="22">Biology (BIOL)</option>
                <option value="24">Biomedical Engineering (BME)</option>
                <option value="19">Biomedical Sciences (BIMS)</option>
                <option value="23">Biophysics (BIOP)</option>
                <option value="25">Business (BUS)</option>
                <option value="28">Cell Biology (CELL)</option>
                <option value="29">Chemical Engineering (CHE)</option>
                <option value="30">Chemistry (CHEM)</option>
                <option value="31">Chinese (CHIN)</option>
                <option value="32">Chinese in Translation (CHTR)</option>
                <option value="27">Civil Engineering (CE)</option>
                <option value="33">Classics (CLAS)</option>
                <option value="72">Clinical Nurse Leader (GCNL)</option>
                <option value="34">Cognitive Science (COGS)</option>
                <option value="35">College Advising Seminar (COLA)</option>
                <option value="215">College Art Scholars Seminar (CASS)</option>
                <option value="92">College Science Scholars Seminar (HSCI)</option>
                <option value="36">Commerce (COMM)</option>
                <option value="26">Common Course-Sciences (CCSC)</option>
                <option value="37">Comparative Literature (CPLT)</option>
                <option value="229">Computer Engineering (CPE)</option>
                <option value="38">Computer Science (CS)</option>
                <option value="231">CREO (CREO)</option>
                <option value="201">Criminal Justice (CJ)</option>
                <option value="39">Dance (DANC)</option>
                <option value="40">Drama (DRAM)</option>
                <option value="232">DS (DS)</option>
                <option value="202">East Asian Languages, Literatures, and Cultures (EALC)</option>
                <option value="41">East Asian Studies (EAST)</option>
                <option value="43">Economics (ECON)</option>
                <option value="45">Education-Curriculum, Instruction, &amp; Special Ed (EDIS)</option>
                <option value="44">Education-Human Services (EDHS)</option>
                <option value="46">Education-Leadership, Foundations, and Policy (EDLF)</option>
                <option value="233">EGMT (EGMT)</option>
                <option value="234">ELA (ELA)</option>
                <option value="42">Electrical and Computer Engineering (ECE)</option>
                <option value="235">ENCW (ENCW)</option>
                <option value="52">Engineering (ENGR)</option>
                <option value="62">Engineering Physics (EP)</option>
                <option value="63">English as a Second Language (ESL)</option>
                <option value="61">English-Academic, Professional, &amp; Creative Writing (ENWR)</option>
                <option value="47">English-American Literature to 1900 (ENAM)</option>
                <option value="48">English-Criticism (ENCR)</option>
                <option value="51">English-Genre Studies (ENGN)</option>
                <option value="53">English-Introductory Seminar in Literature (ENLT)</option>
                <option value="210">English-Language Study (ENLS)</option>
                <option value="55">English-Medieval Literature (ENMD)</option>
                <option value="50">English-Miscellaneous (ENGL)</option>
                <option value="54">English-Modern &amp; Contemporary Literature (ENMC)</option>
                <option value="56">English-Nineteenth-Century British Literature (ENNC)</option>
                <option value="57">English-Pedagogy (ENPG)</option>
                <option value="58">English-Poetry Writing (ENPW)</option>
                <option value="59">English-Renaissance Literature (ENRN)</option>
                <option value="49">English-Restoration and Eighteenth-Century Lit (ENEC)</option>
                <option value="60">English-Special Topics in Literature (ENSP)</option>
                <option value="236">ENTP (ENTP)</option>
                <option value="64">Enviromental Thought and Practice (ETP)</option>
                <option value="69">Environmental Sciences (EVSC)</option>
                <option value="65">Environmental Sciences-Atmospheric Sciences (EVAT)</option>
                <option value="66">Environmental Sciences-Ecology (EVEC)</option>
                <option value="67">Environmental Sciences-Geosciences (EVGE)</option>
                <option value="68">Environmental Sciences-Hydrology (EVHY)</option>
                <option value="237">EURS (EURS)</option>
                <option value="238">FORU (FORU)</option>
                <option value="70">French (FREN)</option>
                <option value="213">French in Translation (FRTR)</option>
                <option value="114">General Linguistics (LNGS)</option>
                <option value="75">German (GERM)</option>
                <option value="76">German in Translation (GETR)</option>
                <option value="74">Global Development Studies (GDS)</option>
                <option value="71">Graduate Business (GBUS)</option>
                <option value="73">Graduate Commerce (GCOM)</option>
                <option value="222">Graduate Non-Resident (NRGA)</option>
                <option value="77">Graduate Nursing (GNUR)</option>
                <option value="78">Greek (GREE)</option>
                <option value="239">GSMS (GSMS)</option>
                <option value="240">GSSJ (GSSJ)</option>
                <option value="241">GSVS (GSVS)</option>
                <option value="80">Hebrew (HEBR)</option>
                <option value="81">Hebrew in Translation (HETR)</option>
                <option value="87">Hindi (HIND)</option>
                <option value="14">History of Art (ARTH)</option>
                <option value="11">History of Art and Architecture (ARAH)</option>
                <option value="82">History-African History (HIAF)</option>
                <option value="83">History-East Asian History (HIEA)</option>
                <option value="84">History-European History (HIEU)</option>
                <option value="89">History-General History (HIST)</option>
                <option value="85">History-Latin American History (HILA)</option>
                <option value="86">History-Middle Eastern History (HIME)</option>
                <option value="88">History-South Asian History (HISA)</option>
                <option value="90">History-United States History (HIUS)</option>
                <option value="79">Human Biology (HBIO)</option>
                <option value="91">Human Resources (HR)</option>
                <option value="216">Humanities and Global Cultures (IHGC)</option>
                <option value="101">Informational Technology (IT)</option>
                <option value="94">Interdisciplinary Studies (INST)</option>
                <option value="95">Interdisciplinary Studies-Business (ISBU)</option>
                <option value="96">Interdisciplinary Studies-Capstone Project (ISCP)</option>
                <option value="226">Interdisciplinary Studies-Individualized Other (ISIN)</option>
                <option value="98">Interdisciplinary Studies-Liberal Studies Seminar (ISLS)</option>
                <option value="99">Interdisciplinary Studies-Proseminar (ISPS)</option>
                <option value="100">Interdisciplinary Studies-Social Sciences (ISSS)</option>
                <option value="93">Interdisciplinary Thesis (IMP)</option>
                <option value="97">Interdisiplinary Studies-Humanities (ISHU)</option>
                <option value="102">Italian (ITAL)</option>
                <option value="103">Italian in Translation (ITTR)</option>
                <option value="104">Japanese (JAPN)</option>
                <option value="105">Japanese in Translation (JPTR)</option>
                <option value="106">Jewish Studies (JWST)</option>
                <option value="242">KICH (KICH)</option>
                <option value="227">Kinesiology (KINE)</option>
                <option value="107">Korean (KOR)</option>
                <option value="209">Korean in Translation (KRTR)</option>
                <option value="108">Landscape Architecture (LAR)</option>
                <option value="111">Latin (LATI)</option>
                <option value="110">Latin American Studies (LAST)</option>
                <option value="112">Law (LAW)</option>
                <option value="109">Liberal Arts Seminar (LASE)</option>
                <option value="113">Linguistics (LING)</option>
                <option value="243">LPPA (LPPA)</option>
                <option value="244">LPPL (LPPL)</option>
                <option value="245">LPPP (LPPP)</option>
                <option value="246">LPPS (LPPS)</option>
                <option value="122">Materials Science and Engineering (MSE)</option>
                <option value="116">Mathematics (MATH)</option>
                <option value="115">Mechanical &amp; Aerospace Engineering (MAE)</option>
                <option value="117">Media Studies (MDST)</option>
                <option value="118">Medicine (MED)</option>
                <option value="123">Medieval Studies (MSP)</option>
                <option value="120">Microbiology (MICR)</option>
                <option value="119">Middle Eastern &amp; South Asian Languages &amp; Cultures (MESA)</option>
                <option value="203">Middle Eastern Studies (MEST)</option>
                <option value="121">Military Science (MISC)</option>
                <option value="127">Music (MUSI)</option>
                <option value="125">Music-Ensembles (MUEN)</option>
                <option value="124">Music-Marching Band (MUBD)</option>
                <option value="126">Music-Private Performance Instruction (MUPF)</option>
                <option value="128">Naval Science (NASC)</option>
                <option value="140">Neuroscience (NESC)</option>
                <option value="129">Non-Credit Architecture &amp; Environment Design (NCAR)</option>
                <option value="130">Non-Credit Business and Management (NCBM)</option>
                <option value="131">Non-Credit Education (NCED)</option>
                <option value="132">Non-Credit Fine and Applied Arts (NCFA)</option>
                <option value="133">Non-Credit Foreign Language (NCFL)</option>
                <option value="221">Non-Credit Health Professions (NCHP)</option>
                <option value="134">Non-Credit Letters (NCLE)</option>
                <option value="135">Non-Credit Personal Development (NCPD)</option>
                <option value="136">Non-Credit Physical Sciences (NCPH)</option>
                <option value="137">Non-Credit Professional Review (NCPR)</option>
                <option value="138">Non-Credit Social Sciences (NCSS)</option>
                <option value="139">Non-Credit Theology (NCTH)</option>
                <option value="143">Nursing (NURS)</option>
                <option value="141">Nursing Core (NUCO)</option>
                <option value="142">Nursing Interprofessional (NUIP)</option>
                <option value="144">Pathology (PATH)</option>
                <option value="211">Pavilion Seminars (PAVS)</option>
                <option value="146">Persian (PERS)</option>
                <option value="147">Persian in Translation (PETR)</option>
                <option value="225">Personal Skills (PLSK)</option>
                <option value="148">Pharmacology (PHAR)</option>
                <option value="149">Philosophy (PHIL)</option>
                <option value="153">Physical Education (PHYE)</option>
                <option value="154">Physics (PHYS)</option>
                <option value="152">Physiology (PHY)</option>
                <option value="155">Planning Application (PLAC)</option>
                <option value="162">Polish (POL)</option>
                <option value="170">Political and Social Thought (PST)</option>
                <option value="164">Political Philosophy, Policy, and Law (PPL)</option>
                <option value="158">Politics-American Politics (PLAP)</option>
                <option value="159">Politics-Comparative Politics (PLCP)</option>
                <option value="156">Politics-Departmental Seminar (PLAD)</option>
                <option value="160">Politics-International Relations (PLIR)</option>
                <option value="161">Politics-Political Theory (PLPT)</option>
                <option value="163">Portuguese (PORT)</option>
                <option value="223">Portuguese in Translation (POTR)</option>
                <option value="145">Procurement and Contracts Management (PC)</option>
                <option value="166">Professional Studies-Education (PSED)</option>
                <option value="204">Professional Studies-Education Web-Based (PSEW)</option>
                <option value="217">Professional Studies-Health Policy (PSHP)</option>
                <option value="167">Professional Studies-MT (PSMT)</option>
                <option value="212">Professional Studies-Political Leadership (PSPL)</option>
                <option value="169">Professional Studies-Project Management (PSPM)</option>
                <option value="168">Professional Studies-Public Administration (PSPA)</option>
                <option value="171">Professional Studies-Workforce Development (PSWD)</option>
                <option value="230">PS-Health Sciences Management (PSHM)</option>
                <option value="172">Psychology (PSYC)</option>
                <option value="150">Public Health Sciences (PHS)</option>
                <option value="151">Public Health Sciences Ethics (PHSE)</option>
                <option value="165">Public Policy (PPOL)</option>
                <option value="173">Religion-African Religions (RELA)</option>
                <option value="174">Religion-Buddhism (RELB)</option>
                <option value="175">Religion-Christianity (RELC)</option>
                <option value="176">Religion-General Religion (RELG)</option>
                <option value="177">Religion-Hinduism (RELH)</option>
                <option value="178">Religion-Islam (RELI)</option>
                <option value="179">Religion-Judaism (RELJ)</option>
                <option value="180">Religion-Special Topic (RELS)</option>
                <option value="181">Russian (RUSS)</option>
                <option value="182">Russian in Translation (RUTR)</option>
                <option value="183">Sanskrit (SANS)</option>
                <option value="193">Science, Technology, and Society (STS)</option>
                <option value="205">Semester at Sea (SEMS)</option>
                <option value="187">Slavic (SLAV)</option>
                <option value="188">Slavic Folklore &amp; Oral Literature (SLFK)</option>
                <option value="189">Slavic in Translation (SLTR)</option>
                <option value="190">Sociology (SOC)</option>
                <option value="186">South Asian Literature in Translation (SATR)</option>
                <option value="185">South Asian Studies (SAST)</option>
                <option value="191">Spanish (SPAN)</option>
                <option value="228">Spanish in Translation (SPTR)</option>
                <option value="192">Statistics (STAT)</option>
                <option value="194">Studies in Women and Gender (SWAG)</option>
                <option value="15">Studio Art (ARTS)</option>
                <option value="208">Study Abroad (ZFOR)</option>
                <option value="207">Swahili (SWAH)</option>
                <option value="195">Systems &amp; Information Engineering (SYS)</option>
                <option value="196">Tibetan (TBTN)</option>
                <option value="206">Undergraduate Non-Resident (NRES)</option>
                <option value="198">University Seminar (USEM)</option>
                <option value="219">University Studies (UNST)</option>
                <option value="247">Unknown (CONC)</option>
                <option value="248">Unknown (DH)</option>
                <option value="249">Unknown (FAC)</option>
                <option value="250">Unknown (GBAC)</option>
                <option value="251">Unknown (GSGS)</option>
                <option value="252">Unknown (PSLP)</option>
                <option value="253">Unknown (SEC)</option>
                <option value="157">Urban and Environmental Planning (PLAN)</option>
                <option value="197">Urdu (URDU)</option>
                <option value="214">Women and Gender Studies (WGS)</option>
                <option value="199">Yiddish (YIDD)</option>
              </select>-->
              {{form.departmentinput}}
            </div>
          </div>

          <div class="form-group mr-5 d-flex flex-column align-items-start input-group-sm col">
            <div class=" p-0 container-fluid flex-column d-flex align-items-start justify-content-end">
              <label class="text-secondary" for="course">Course Number</label>
            </div>
            <!--<input type="text" class="greyform" id="course" name="course" required>-->
            <div class="rev-dropdown-menu">
              {{form.coursenumberinput}}
            </div>
          </div>
          <div class="form-group d-flex flex-column align-items-start input-group-sm col">
            <div class=" p-0 container-fluid flex-column d-flex align-items-start justify-content-end">
              <label class="text-secondary" for="instructor">Instructor</label>
            </div>
            <!--<input type="text" class="greyform" id="instructor" name="instructor" required>-->
            <div class="rev-dropdown-menu">
              {{form.instructornameinput}}
            </div>
          </div>
        </div>
        <div
          class=" border-bottom pb-4 mb-4 container-fluid d-flex flex-row justify-content-start align-items-center p-0">
          <div class=" p-0 mr-3 d-flex align-items-center justify-content-center">
            <label class="text-secondary pt-1">Semester / Year Taken</label>
          </div>

          <div class="rev-dropdown-menu form-small mr-3">
            {{form.semesterinput}}
          </div>
          <div class="rev-dropdown-menu form-small">
            {{form.yearinput}}
          </div>
        </div>

        <div class="p-0 mb-2 container-fluid d-flex align-items-flexstart">
          <h5 class="card-title">Rate Course</h5>
        </div>
        <div class=" form-group row d-flex flex-row align-items-center container-fluid pr-0">
          <div class="hours-label">
            <label for="hours" class="col-form-label text-secondary">Hours per week of work</label>
          </div>
          {{form.hoursinput}}
          <!--<input type="number" class="greyform form-small" id="hours" name="hours" required>-->
          
        </div>
        <div class="container-fluid  justify-content-between p-0 m-0 border-bottom mb-4">
          <div class="row  justifiy-content-between p-0 m-0">
            <div class="  p-0 form-group col d-flex flex-column justify-content-start align-items-start"
              style="min-width: 230px">
              <div class=" ">
                <p class="text-secondary p-0 mb-2">This course emphasizes:</p>
              </div>
              <div class="checkboxes pl-0 ml-0 d-flex flex-column align-items-start">
                <div class="checkbox">

                  {{form.writinginput}}
                  <label for="checkbox_1"><span class="text-secondary">Writing</span></label>
                </div>
                <div class="checkbox">
                  {{form.readinginput}}
                  <label for="checkbox_2"><span class="text-secondary">Reading</span></label>
                </div>
                <div class="checkbox">
                  {{form.groupworkinput}}
                  <label for="checkbox_3"><span class="text-secondary">Groupwork</span></label>
                </div>
                <div class="checkbox">
                  {{form.participationinput}}
                  <label for="checkbox_4"><span class="text-secondary">Participation</span></label>
                </div>
                <div class="checkbox">
                  {{form.assesmentsinput}}
                  <label for="checkbox_5"><span class="text-secondary">Assesments</span></label>
                </div>
                <div class="checkbox">
                  {{form.projectsinput}}
                  <label for="checkbox_6"><span class="text-secondary">Projects</span></label>
                </div>
              </div>
            </div>
            <div class="col form-group ">
              <div class="mt-4 sliders">
                <label for="difficulty" class="mb-0 text-secondary">Difficulty</label>
                <div class="d-flex">
                  <span class="mr-2 text-secondary">1</span>
                  {{form.difficultyinput}}
                  <span class="ml-2 text-secondary">5</span>
                </div>
              </div>
              <div class="mt-4">
                <label for="instructorRating" class="mb-0 text-secondary">Instructor</label>
                <div class="d-flex">
                  <span class="mr-2 text-secondary">1</span>
                  <!--<input type="range" class="custom-range " min="1" max="5" step="1" id="instructorRating"
                    name="instructorRating" required>-->
                    {{form.instructorinput}}
                  <span class="ml-2 text-secondary">5</span>
                </div>
              </div>
              <div class="mt-4">
                <label for="recommendability" class="mb-0 text-secondary">Recommendability</label>
                <div class="d-flex">
                  <span class="mr-2 text-secondary">1</span>
                    {{form.recommendabilityinput}}
                  <span class="ml-2 text-secondary">5</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group mb-3">
          <div class="p-0 mb-2 container-fluid d-flex flex-column align-items-start">
            <h5 class="card-title mb-2">Comments</h5>
            <div style="text-align: left">
              <label class="text-secondary" for="reviewText">Tell us more about the course or instructor.</label>
            </div>
          </div>
          <div class="container-fluid d-flex flex-row justify-content-start p-0 ">
            <!-- <textarea class="greyform comments-form p-1" id="reviewText" name="reviewText"></textarea>-->
            {{form.commentsinput}}
          </div>

        </div>
        <button type="submit" class="btn submit-btn mt-3">Submit Review</button>
      </form>
    </div>
  </div>
</div>



{% endblock %}