{% extends "base/base.html" %}
{% load static %}



{% block styles %}
<link rel="stylesheet" href="{% static 'reviews/newreview.css' %}" />
{% endblock %}

{% block content %}
<div class="mb-1 container-fluid d-flex justify-content-center">
  <p class="h4 test">Write a review</p>
</div>

<div class="browse container-fluid d-flex flex-column align-items-center">
  <div class="row">
    <div class="card col">
      <form class="card-body text-center" action="{% url 'new_review' %}" method="POST">
        {% csrf_token %}
        <div class="p-0 mb-3 container-fluid d-flex align-items-start">
          <h5 class="card-title">Course Details</h5>
        </div>
        <div class="form-row top-dropdowns mb-0 ">
          <div class="form-group mr-5 input-group-sm col ">
            <div class="p-0 container-fluid flex-row d-flex align-items-start justify-content-flexend">
              <label class="text-secondary" for="department">Department</label>
            </div>
            <div class="rev-dropdown-menu">
              {{form.departmentinput}}
            </div>
          </div>
          <div class="form-group mr-5 d-flex flex-column align-items-start input-group-sm col">
            <div class=" p-0 container-fluid flex-column d-flex align-items-start justify-content-end">
              <label class="text-secondary" for="course">Course Number</label>
            </div>
            <!--<input type="text" class="greyform" id="course" name="course" required>-->
            <div class="rev-dropdown-menu">
              {{form.coursenumberinput}}
            </div>
          </div>
          <div class="form-group d-flex flex-column align-items-start input-group-sm col">
            <div class=" p-0 container-fluid flex-column d-flex align-items-start justify-content-end">
              <label class="text-secondary" for="instructor">Instructor</label>
            </div>
            <!--<input type="text" class="greyform" id="instructor" name="instructor" required>-->
            <div class="rev-dropdown-menu">
              {{form.instructornameinput}}
            </div>
          </div>
        </div>
        <div
          class=" border-bottom pb-4 mb-4 container-fluid d-flex flex-row justify-content-start align-items-center p-0">
          <div class=" p-0 mr-3 d-flex align-items-center justify-content-center">
            <label class="text-secondary pt-1">Semester / Year Taken</label>
          </div>
          <div class="rev-dropdown-menu form-small mr-3">
            {{form.semesterinput}}
          </div>
          <div class="rev-dropdown-menu form-small">
            {{form.yearinput}}
          </div>
        </div>

        <div class="p-0 mb-2 container-fluid d-flex align-items-flexstart">
          <h5 class="card-title">Rate Course</h5>
        </div>
        <div class=" form-group row d-flex flex-row align-items-center container-fluid pr-0">
          <div class="hours-label">
            <label for="hours" class="col-form-label text-secondary">Hours per week of work</label>
          </div>
          {{form.hoursinput}}
          <!--<input type="number" class="greyform form-small" id="hours" name="hours" required>-->
          
        </div>
        <div class="container-fluid  justify-content-between p-0 m-0 border-bottom mb-4">
          <div class="row  justifiy-content-between p-0 m-0">
            <div class="  p-0 form-group col d-flex flex-column justify-content-start align-items-start"
              style="min-width: 230px">
              <div class=" ">
                <p class="text-secondary p-0 mb-2">This course emphasizes:</p>
              </div>
              <div class="checkboxes pl-0 ml-0 d-flex flex-column align-items-start">
                <div class="checkbox">

                  {{form.writinginput}}
                  <label for="checkbox_1"><span class="text-secondary">Writing</span></label>
                </div>
                <div class="checkbox">
                  {{form.readinginput}}
                  <label for="checkbox_2"><span class="text-secondary">Reading</span></label>
                </div>
                <div class="checkbox">
                  {{form.groupworkinput}}
                  <label for="checkbox_3"><span class="text-secondary">Groupwork</span></label>
                </div>
                <div class="checkbox">
                  {{form.participationinput}}
                  <label for="checkbox_4"><span class="text-secondary">Participation</span></label>
                </div>
                <div class="checkbox">
                  {{form.assesmentsinput}}
                  <label for="checkbox_5"><span class="text-secondary">Assesments</span></label>
                </div>
                <div class="checkbox">
                  {{form.projectsinput}}
                  <label for="checkbox_6"><span class="text-secondary">Projects</span></label>
                </div>
              </div>
            </div>
            <div class="col form-group ">
              <div class="mt-4 sliders">
                <label for="difficulty" class="mb-0 text-secondary">Difficulty</label>
                <div class="d-flex">
                  <span class="mr-2 text-secondary">1</span>
                  {{form.difficultyinput}}
                  <span class="ml-2 text-secondary">5</span>
                </div>
              </div>
              <div class="mt-4">
                <label for="instructorRating" class="mb-0 text-secondary">Instructor</label>
                <div class="d-flex">
                  <span class="mr-2 text-secondary">1</span>
                  <!--<input type="range" class="custom-range " min="1" max="5" step="1" id="instructorRating"
                    name="instructorRating" required>-->
                    {{form.instructorinput}}
                  <span class="ml-2 text-secondary">5</span>
                </div>
              </div>
              <div class="mt-4">
                <label for="recommendability" class="mb-0 text-secondary">Recommendability</label>
                <div class="d-flex">
                  <span class="mr-2 text-secondary">1</span>
                    {{form.recommendabilityinput}}
                  <span class="ml-2 text-secondary">5</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group mb-3">
          <div class="p-0 mb-2 container-fluid d-flex flex-column align-items-start">
            <h5 class="card-title mb-2">Comments</h5>
            <div style="text-align: left">
              <label class="text-secondary" for="reviewText">Tell us more about the course or instructor.</label>
            </div>
          </div>
          <div class="container-fluid d-flex flex-row justify-content-start p-0 ">
            <!-- <textarea class="greyform comments-form p-1" id="reviewText" name="reviewText"></textarea>-->
            {{form.commentsinput}}
          </div>

        </div>
        <button type="submit" class="btn submit-btn mt-3">Submit Review</button>
      </form>
    </div>
  </div>
</div>



{% endblock %}