{% extends "base/base.html" %}
{% load static %}

{% block styles %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row d-flex flex-column align-items-center">
        <h2>Profile</h2>
        <div class="card col-9 col-md-4 text-center mt-3">
            <div class="card-body">
                <h4 class="card-title">
                    {{ user.full_name }}
                </h4>
                <p class="card-text">
                    <i class="fas fa-at fa-fw"></i> {{ user.computing_id }}
                </p>
                <p class="card-text">
                    <i class="fas fa-university fa-fw"></i> University of Virginia
                </p>
                <p class="card-text">
                    <i class="fas fa-graduation-cap fa-fw"></i> Class of {{ user.graduation_year }}
                </p>
                <hr>
                <div class="card-deck">
                    <div class="card">
                        <div class="card-header">New Reviewer Badge</div>
                        <div class="card-body">
                            <p class="card-text">
                                {% if user.new_reviewer_badge %}
                                <i class="fas fa-trophy fa-4x" style="color:#212529" title="First Review Badge"></i>
                                {% else %}
                                <i class="fas fa-trophy fa-4x" style="color:#d4d4d4" title="First Review Badge"></i>
                                {% endif %}
                                <br>
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">First Vote Badge</div>
                        <div class="card-body">
                            <p class="card-text">
                                {% if user.first_vote_badge %}
                                <i class="fas fa-chevron-up fa-4x" style="color:#212529" title="First Review Badge"></i>
                                {% else %}
                                <i class="fas fa-chevron-up fa-4x" style="color:#d4d4d4" title="First Review Badge"></i>
                                {% endif %}
                                <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}